@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    background-color: #EBEBEB;
}
